@import "../../../css/components/_forms.css";
@import "../../../css/components/_ripple.css";

:host {
  --popup-background: var(--theme-background);
  --popup-color: var(--theme-color-text);
  --popup-item-background-hover: var(--theme-background-3);
  --popup-skeleton-background: #ddd;

  position: fixed;
  z-index: 999;
  top: 12px;
  right: 20px;
  width: 30px;
  height: 30px;

  & * {
    box-sizing: border-box;
  }
}
:host-context(.dark) {
  --popup-background: var(--theme-background-2);
  --popup-color: var(--theme-color-text);
  --popup-item-background-hover: var(--theme-background-3);
  --popup-skeleton-background: var(--theme-background-3);
}
.trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background: rgba(33, 33, 33, 0.5);
  opacity: 0.2;
  cursor: pointer;
  transition: opacity 3s linear;
  outline: none;
}
.trigger:focus {
  opacity: 0.5;
}
.trigger:hover {
  opacity: 1;
  transition-duration: 0.3s;
}
.trigger.is-active {
  opacity: 1;
}
.trigger svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.popup {
  position: absolute;
  top: calc(100% + 10px);
  right: -5px;
  width: 300px;
  border-radius: 4px;
  background-color: var(--popup-background);
  pointer-events: none;
  opacity: 0;
  transform: translateY(10px);
  visibility: hidden;
  transition-property: visibility, opacity, transform;
  transition-duration: 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 0;
}
.popup::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 14px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background-color: var(--popup-background);
  box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
}
.popup.is-open {
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: none;
}
.list {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-gap: 15px 10px;
  max-height: 50vh;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }
  &::-webkit-scrollbar-thumb {
    min-height: 35px;
    background-clip: padding-box;
    background-color: var(--scrollbar-color);
    border: 2px solid transparent;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-hover-color);
  }
  &.is-empty {
    grid-template-columns: 1fr;
    place-items: center;
    &::after {
      content: "";
      width: 84px;
      height: 84px;
      background-color: var(--popup-skeleton-background);
      background-image:
        radial-gradient(circle, var(--theme-background-2) 50%, transparent 50%),
        radial-gradient(circle, var(--theme-background-2) 50%, transparent 50%);
      background-repeat: no-repeat;
      background-position: 50% 20%, 50% 90%;
      background-size: 48px 48px, 80px 7px;
      border-radius: var(--base-radius);
    }
  }
}
.list.is-edit {
  & .item-remove {
    display: block;
  }
  & .item {
    border-color: var(--theme-invert-alpha-10);
  }
}
.item {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 84px;
  text-align: center;
  border-radius: var(--base-radius);
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  color: var(--popup-text-color);
  outline: none;
}
.item:focus,
.item:hover {
  background-color: var(--popup-item-background-hover);
}
.item-img-wrap {
  display: flex;
  align-items: center;
  height: 60px;
}
.item-logo {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  width: 32px;
  height: 32px;
}
.item-name {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 20px;
  text-transform: capitalize;
  padding-bottom: 3px;

  @nest .list:not(.is-edit) .item:hover & {
    white-space: normal;
    word-wrap: break-word;
  }
}
.item-remove {
  display: none;
  position: absolute;
  top: -7px;
  right: -7px;
  width: 24px;
  height: 24px;
  line-height: 1;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: var(--theme-background-3);
  cursor: pointer;
  z-index: 999;
  & svg {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    fill: var(--theme-text-color);
  }
}
.ghost {
  opacity: 0;
}
.settings-trigger {
  display: inline-flex;
  place-content: center;
  width: 100%;
  padding: 7px;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid transparent;
  color: var(--theme-color);
  border-radius: 0 0 var(--base-radius) var(--base-radius);
  background-color: inherit;
  outline: none;
  cursor: pointer;
  transition: background-color 0.25s ease;
}
.settings-trigger:focus-visible,
.settings-trigger:hover {
  background-color: var(--theme-background-3);
}
.settings {
  position: relative;
  border-top: 1px solid var(--theme-invert-alpha-10);
  padding-top: 20px;
}
.settings-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  padding: 0;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.25s ease;
  z-index: 999;
  &:hover {
    opacity: 1;
  }
  & svg {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    fill: var(--theme-text-color);
  }
}
.settings-form {
  position: relative;
}
.settings-container {
  padding: 0 10px;
}
.settings-title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}
.settings-limit {
  text-align: center;
  padding: 20px;
}
.settings-save {
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 0 0 var(--base-radius) var(--base-radius);
  background-color: var(--color-primary);
  cursor: pointer;
  outline: none;
}
.settings-save:focus-visible {
  background-color: var(--color-primary-dark);
}
.error-hint {
  color: #ef5350;
}
[hidden] {
  display: none !important;
}
