<div class="services">
  <button class="trigger">
    <!-- <svg width="24" height="24" viewBox="0 0 24 24"><path d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z"/><path d="M0 0h24v24H0z" fill="none"/></svg> -->
    <svg width="20" height="20">
      <use xlink:href="/img/symbol.svg#apps"/>
    </svg>
  </button>
  <div class="popup">
    <div class="list"></div>
    <button class="settings-trigger" data-local-message="service_settings_btn">Tune</button>
    <div class="settings" hidden>
      <button class="settings-close md-ripple" data-ripple-center>
        <svg width="16" height="16" class="icon-times">
          <use xlink:href="/img/symbol.svg#close"/>
        </svg>
      </button>
      <form action="#" method="post" class="settings-form">
        <div class="settings-container">
          <div class="settings-title" data-locale-message="services_add_title">Add</div>
          <div class="group">
            <label for="name" data-locale-message="service_name">Name</label>
            <input type="text" class="form-control" name="name" id="name" autofocus placeholder="google" data-valid="required">
          </div>
          <div class="group">
            <label for="link" data-locale-message="service_link">Link</label>
            <input type="text" class="form-control" name="link" id="link" placeholder="https://google.com" data-valid="required|url">
          </div>
        </div>
        <button class="settings-save md-ripple" id="ok" data-local-message="btn_save">OK</button>
      </form>
      <div class="settings-limit" data-locale-message="{services_limit_message}" hidden></div>
    </div>
  </div>
</div>
