.btn {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: var(--btn-padding);
  line-height: normal;
  vertical-align: middle;
  font-size: 1em;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.05rem;
  cursor: pointer;
  user-select: none;
  color: var(--btn-color);
  border: 0;
  border-radius: var(--btn-radius);
  background: var(--btn);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  outline: none;
  &:focus-visible,
  &[data-popup='resolve']:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

}

.btn-group {
  display: flex;
}

.btn-group--full .btn {
  flex: 1;
}

.btn-group .btn + .btn {
  margin-left: 10px;
}

.btn--clear {
  color: inherit;
  background-color: transparent;
  transition: background-color 0.5s ease;
  &:hover {
    background-color: rgba(0, 0, 0, 0.07);
  }
  &:focus,
  &:active {
    box-shadow: none;
  }
}
