/* Context */
.context-menu {
  display: none;
  position: absolute;
  z-index: 99999;
  background-color: var(--context-menu-bg);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.25);
  &.context-menu--open {
    display: block;
  }
}

.context-menu__list {
  margin: 0;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
}

.context-menu__item--divider {
  margin-top: 7px;
  margin-bottom: 7px;
  height: 1px;
  background-color: var(--context-menu-divider);
}

.context-menu__link {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  padding: 5px 15px;
  color: var(--context-menu-color);
  text-decoration: none;
  white-space: nowrap;
  &:not([href]) {
    cursor: pointer;
  }
  &:not(.is-disabled):hover,
  &.hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &.is-disabled {
    display: none;
    pointer-events: none;
  }
}

.context-menu__icon {
  display: inline-flex;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  color: var(--context-menu-color);
  & svg {
    width: 100%;
    height: 100%;
  }
}
