/* Modal */
body.gmodal-open {
  overflow-y: hidden;
  -webkit-overflow-scrolling: auto;
}

.gmodal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
  background: rgba(21, 21, 21, 0.75);
  &.has-animate {
    transition: opacity 0.15s linear;
    will-change: opacity;
    opacity: 0;
    &.is-shown {
      opacity: 1;
    }
  }
}

.gmodal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  outline: 0;

  @nest .gmodal-open &::-webkit-scrollbar-thumb {
    background-color: #999;
  }

  @nest .gmodal-open &::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
  }

  &.has-animate .gmodal__container {
    will-change: transform, opacity;
    opacity: 0;
    transform: scale(0.9);
    transition-property: opacity, transform;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
  }
  &.has-animate.is-shown .gmodal__container {
    opacity: 1;
    transform: none;
  }
  &.is-hidden {
    z-index: 9997;
  }
}

.gmodal--popup .gmodal__container--popup {
  width: 100%;
  max-width: 400px;
  min-height: auto;
  margin: 30px auto;
  padding-left: 15px;
  padding-right: 15px;
  &.has-center {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 60px);
    &::before {
      content: "";
      display: block;
      height: calc(100vh - 60px);
    }
  }
}
.gmodal--popup {
  --modal-header-border-color: transparent;
  --modal-footer-border-color: transparent;
}

@media (min-width: 480px) {
  .gmodal__container {
    position: relative;
    max-width: 550px;
    width: 100%;
    margin: 30px auto;
    min-height: auto;
    padding-left: 15px;
    padding-right: 15px;
    &.has-center {
      display: flex;
      align-items: center;
      min-height: calc(100vh - 60px);
      &::before {
        content: "";
        display: block;
        height: calc(100vh - 60px);
      }
    }
  }
}

.gmodal--popup .gmodal__dialog {
  position: relative;
  min-height: auto;
  border-radius: var(--base-radius);
  background-color: var(--modal-background);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.gmodal__dialog {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  background-color: var(--modal-background);
  border-radius: 0;
}

@media (min-width: 480px) {
  .gmodal__dialog {
    position: relative;
    min-height: auto;
    border-radius: var(--base-radius);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

.gmodal__header,
.gmodal__body,
.gmodal__footer {
  position: relative;
  padding: 15px;
}

.gmodal__header {
  border-bottom: 1px solid var(--modal-header-border-color);
}

.gmodal__footer {
  border-top: 1px solid var(--modal-footer-border-color);
}

.gmodal__close {
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  padding: 0;
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  &:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }
  & > svg {
    width: 20px;
    height: 20px;
    opacity: 0.4;
    pointer-events: none;
    fill: var(--modal-close-fill);
  }
  &:hover > svg {
    opacity: 0.7;
  }
}

.gmodal__title {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03rem;
}

.gmodal__tip {
  display: none;
  font-size: 0.75rem;
  color: #999;
}

@media (min-width: 380px) {
  .gmodal__tip {
    position: absolute;
    top: 1px;
    right: 0;
  }
}

.gmodal.has-add .gmodal__tip {
  display: block;
}

.gmodal__select {
  display: none;
}

.gmodal.has-edit .gmodal__select {
  display: block;
}

.gmodal__desc {
  display: block;
  margin-bottom: 15px;
  word-wrap: break-word;
  &:empty {
    display: none;
  }
}

.gmodal__custom-image {
  display: none;
  position: relative;
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--modal-custom-image-background);
  border-radius: var(--base-radius);

  & img {
    display: block;
    height: 120px;
    margin: auto;
  }
}

.gmodal__custom-reset {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  background-image: url(/img/close.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
  outline: 0;
  filter: var(--modal-custom-image-filter);
  opacity: 0.5;
  transition: opacity 0.3s ease;
  &:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

  @nest .gmodal__custom-image:hover & {
    opacity: 0.7;
  }
}

.gmodal__footer button + button {
  margin-left: 10px;
}
