.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), var(--grid-column-width));
  grid-auto-rows: var(--grid-row-height);
  grid-gap: var(--grid-gap);
  justify-content: center;
  &:empty ~ .dial-loading {
    display: block;
  }
}

.grid--vcenter {
  /* content padding + header height (+ top padding) */
  min-height: calc(100vh - 115px);
  align-content: center;

  @nest .hidden-toolbar & {
    min-height: calc(100vh - 60px);
  }
}

.grid {
  & .not-found {
    grid-column: 1 / -1;
  }
}
