/* Not found */
.not-found {
  display: flex;
  min-height: calc(100vh - 95px);
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden-toolbar .not-found {
  min-height: calc(100vh - 40px);
}

.not-found__wrap {
  position: relative;
  padding: 15px;
  width: 100%;
  max-width: 450px;
  color: var(--notfound-color);
  background-color: none;
  border-radius: 3px;

  @nest .has-image & {
    background-color: var(--notfound-bg);
  }
}

.not-found__icon {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 490 490'%3E%3Ccircle cx='157.65' cy='175.29' r='42.64'/%3E%3Ccircle cx='332.35' cy='175.29' r='42.64'/%3E%3Cpath d='M137.72 364.15c4.4-3.26 108.79-78.91 214.59 0l18.3-24.55c-124.41-92.81-249.97-.92-251.22.01l18.33 24.54z'/%3E%3Cpath d='M69.09 490H420.9c38.1 0 69.09-31 69.09-69.09V69.1C490 30.99 459 0 420.91 0H69.1C30.99 0 0 31 0 69.09V420.9C0 459.02 31 490 69.09 490zM30.62 69.09A38.5 38.5 0 0 1 69.1 30.63H420.9a38.5 38.5 0 0 1 38.47 38.46v351.83a38.5 38.5 0 0 1-38.46 38.46H69.09a38.5 38.5 0 0 1-38.46-38.46V69.09z'/%3E%3C/svg%3E");
  background-size: 50px;
  background-repeat: no-repeat;
  opacity: 0.7;
  filter: var(--notfound-icon-filter);
}

.not-found__text {
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 400;
}
