<div class="header">
  <div class="header__items header__items--search">
    <div class="search-wrap">
      <input type="text" class="form-control" placeholder="Search bookmarks" id="bookmarkSearch" required spellcheck="false" data-locale-message="placeholder_input_search">
      <label class="field-icon search-label" for="bookmarkSearch">
        <svg class="search-icon" width="18" height="18" fill="currentColor">
          <use xlink:href="/img/symbol.svg#search"/>
        </svg>
      </label>
      <button class="field-icon search-reset-btn" id="searchReset">
        <svg class="search-icon" width="20" height="20">
          <use xlink:href="/img/symbol.svg#close"/>
        </svg>
      </button>
    </div>
  </div>
  <div class="header__items header__items--select">
    <select name="folder" id="selectFolder" class="form-control"></select>
  </div>
</div>
