.aside-controls {
  position: fixed;
  top: 12px;
  left: 10px;
  z-index: 999;
  display: grid;
  grid-gap: 10px;
  will-change: opacity;
  opacity: 0.3;
  transition: opacity 3s linear;
  &:hover,
  &:focus {
    transition: opacity 0.3s linear;
    opacity: 1;
  }
}

.content {
  padding: 20px 0;
}

.thumb-upload {
  display: none;
}

/* Page loading */
.dial-loading {
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  z-index: 100;
}

/**
 * Helpers
 */
.circ-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  text-decoration: none;
  border: 0;
  padding: 0;
  background: rgba(33, 33, 33, 0.5);
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  outline: 0;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  & svg {
    fill: #fff;
  }
}

.settings-link {
  & svg {
    transition: transform 0.15s ease-in-out;
  }
  &:hover svg {
    transform: rotate(30deg);
  }
}

.update-thumbnails {
  bottom: 12px;
  left: 10px;
  top: auto;
  &::after {
    background-image: url(/img/camera.svg);
  }
}

/* background image */
.bg {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  /* right: -20px; */
  bottom: 0;
  left: 0;
  will-change: opacity;
  transition: opacity 0.5s linear;
  opacity: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @nest .has-image &::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 280px;
    background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0.42) 0%,
      hsla(0, 0%, 0%, 0.341) 1.1%,
      hsla(0, 0%, 0%, 0.273) 4.4%,
      hsla(0, 0%, 0%, 0.215) 9.3%,
      hsla(0, 0%, 0%, 0.166) 15.8%,
      hsla(0, 0%, 0%, 0.124) 23.5%,
      hsla(0, 0%, 0%, 0.091) 32%,
      hsla(0, 0%, 0%, 0.064) 41.2%,
      hsla(0, 0%, 0%, 0.043) 50.6%,
      hsla(0, 0%, 0%, 0.027) 60%,
      hsla(0, 0%, 0%, 0.016) 69.2%,
      hsla(0, 0%, 0%, 0.008) 77.7%,
      hsla(0, 0%, 0%, 0.003) 85.4%,
      hsla(0, 0%, 0%, 0.001) 91.8%,
      hsla(0, 0%, 0%, 0) 96.8%,
      hsla(0, 0%, 0%, 0) 100%
    );
  }
}

.empty-search {
  place-self: center;
  grid-column: 1 / -1;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 15px;
  border-radius: var(--base-radius);
  @nest .has-image & {
    background-color: var(--theme-background-3-alpha-65);
  }
}
