.options {
  background-color: var(--options-background);
  color: var(--theme-text-color);

  & .gmodal__title {
    font-size: 18px;
  }
  & .gmodal-backdrop {
    background-color: var(--theme-background-alpha-95);
  }
}

.wrap {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  padding-right: 10px;
  padding-left: 10px;
}

.settings-container {
  padding-top: 50px;
}

.options .tabs__section {
  padding: 15px;
}

@media (min-width: 450px) {
  .options .tabs__section {
    padding: 30px;
  }
}

.footer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 10px;
  background: var(--theme-background-3);
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: var(--base-radius);
}

.footer__pull--left {
  float: left;
}

.footer__pull--right {
  float: right;
}

.tbl {
  display: table;
  width: 100%;
  border-radius: var(--base-radius);
  &:focus-within,
  &:hover {
    background-color: var(--option-tbl-hover-bg);
  }
}

.tbl__row {
  display: table-row;
}

.tbl__option,
.tbl__value .form-control.tbl__option {
  margin-top: 10px;
}

.tbl__setting,
.tbl__value {
  padding: 10px;
}

@media (min-width: 450px) {
  .tbl__setting,
  .tbl__value {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
  }
  .tbl__setting {
    text-align: right;
  }
}

.tbl__setting {
  font-weight: 600;
}

.tbl__sub {
  display: flex;
  align-items: center;
}

.tbl__sub .range {
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 15px;
}

.tbl__sub span {
  &::after {
    content: "%";
  }
}

.inline-middle {
  display: inline-block;
  vertical-align: middle;
}

.badge {
  display: inline-block;
  padding: 1px 3px;
  font-size: 85%;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: 0;
  border-radius: 2px;
  color: #333;
  background: #e4dcdc;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

ul {
  margin-top: 0;
  padding-left: 30px;
}

li:not(:last-child) {
  margin-bottom: 12px;
}

code,
kbd {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding: 0.2em 0.45em;
  font-size: 85%;
}

code {
  color: rgb(67, 135, 244);
  background-color: rgb(40 107 215 / 16%);
  border: 1px solid rgba(67, 135, 244, 0.15);
}

code,
kbd,
pre {
  border-radius: 0.2rem;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0.45rem 0.75rem;
  text-align: left;
  text-shadow: none;
  white-space: pre;
  color: #333;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
  overflow: auto;
}

.whats-new {
  & img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
  }
}
